:root {
    /* Primary Colors */
    --gradient-1: hsl(6, 100%, 80%);
    --gradient-2: hsl(335, 100%, 65%);
    
    /* Neutral Colors */
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
    --white: #ffffff;
    
    /* Widths */
    --mobile-width: 375px;
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/img/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-color: var(--very-dark-blue);
    font-size: 14px;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* General Styling */
.container {
    background-color: var(--dark-blue);
}

/* Card 1 Styling */
.card-1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    border-radius: 10px 100px 10px 10px;
    margin: 10px 0px;
}

.card-1 div img {
    margin-bottom: 10px;
}

.triple-icons {
    /* display: flex;
    gap: 1.5rem; */
    /* Use gap command instead of adding margin to elements */
}

/* .triple-icons :nth-child(1) img {
    background-color: var(--very-dark-blue);
    padding: 10px 12px;
    border-radius: 10%;
}
.triple-icons :nth-child(2) img {
    background-color: var(--very-dark-blue);
    padding: 12px 10px;
    border-radius: 10%;
}
.triple-icons :nth-child(3) img {
    background-color: var(--very-dark-blue);
    padding: 14px 10px;
    border-radius: 10%;
} */

/* Card 2 Styling */
.card-2 {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0px;
}

.card-2 progress {
    /* background-color: aqua; */
    /* background-color: aqua; */
    accent-color: blue;
}

/* Card 3 Small Styling */
.card-3-small {
    /* background-color: var(--white);
    width: 10%;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0px; */
}

/* Media Queries */
@media only screen and (max-width: 414px) {
    
    body {
        background-image: url(/img/bg-mobile.png);
        background-position: 50% 10%;
        background-size: cover;
    }
}