:root {
    /* Primary Colors */
    --gradient-1: #FFA399;
    --gradient-2: #FF4D97;
    
    /* Neutral Colors */
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
    --white: #ffffff;
    
    /* Widths */
    --mobile-width: 375px;
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/img/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-color: var(--very-dark-blue);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* General Styling */
.container {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.card {
    background-color: var(--dark-blue);
}

/* Card 1 Styling */
.card-1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    border-radius: 10px 100px 10px 10px;
    margin: 10px 0px;
}

.logo {
    margin-bottom: 20px;
}

.triple-icons {
    display: flex;
    gap: 1.5rem;
    /* Use gap command instead of adding margin to elements */
}

.triple-icons :nth-child(1) img {
    background-color: var(--very-dark-blue);
    padding: 10px 12px;
    border-radius: 10%;
}
.triple-icons :nth-child(2) img {
    background-color: var(--very-dark-blue);
    padding: 12px 10px;
    border-radius: 10%;
}
.triple-icons :nth-child(3) img {
    background-color: var(--very-dark-blue);
    padding: 14px 10px;
    border-radius: 10%;
}

/* Card 2 Styling */
.card-2 {
    width: 350px;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0px;
}

.progress-bar {
    width: 100%;
    background-color: var(--very-dark-blue);
    border-radius: 10px;
}

.progress-bar-color {
    width: 75%;
    background-image: linear-gradient(90deg, #FFA399, #FF4D97);
    border-radius: 10px;
}

.ball {
    width: 1.1rem;
    height: 1.1rem;
    background-color: var(--pale-blue);
    border-radius: 50%;
}
/* Card 3 Small Styling */
.card-3-small {
    /* background-color: var(--white);
    width: 10%;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0px; */
}

/* Media Queries */
@media only screen and (max-width: 414px) {
    
    body {
        background-image: url(/img/bg-mobile.png);
        background-position: 50% 10%;
        background-size: cover;
    }
    
    .container {
        flex-direction: column;
        gap: 0.25rem;
    }
    .card-1 {
        width: 300px;
    }
    .card-2 {
        width: 300px;
    }
}