:root {
    /* Primary Colors */
    --gradient-1: #FFA399;
    --gradient-2: #FF4D97;

    /* Neutral Colors */
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
    --white: #ffffff;

    /* Widths */
    --mobile-width: 375px;
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/img/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-color: var(--very-dark-blue);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    font-family: 'Raleway', sans-serif;
}

/* General Styling */
.container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    
    /* Remember container border trick */
}

.card {
    background-color: var(--dark-blue);
}

/* Card 1 Styling */
.card-1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    border-radius: 10px 100px 10px 10px;
    margin: 10px 0px;
}

.logo {
    margin-bottom: 20px;
}

.triple-icons {
    display: flex;
    gap: 1.5rem;
    /* Use gap command instead of adding margin to elements */
}

.triple-icons :nth-child(1) img {
    background-color: var(--very-dark-blue);
    padding: 10px 12px;
    border-radius: 10%;
}
.triple-icons :nth-child(2) img {
    background-color: var(--very-dark-blue);
    padding: 12px 10px;
    border-radius: 10%;
}
.triple-icons :nth-child(3) img {
    background-color: var(--very-dark-blue);
    padding: 14px 10px;
    border-radius: 10%;
}

/* Card 2 Styling */
.card-2 {
    width: 350px;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0px;
}

/* Progress Bar */
.progress-bar {
    width: 98%;
    background-color: var(--very-dark-blue);
    border-radius: 10px;
}

.progress-bar-color {
    width: 75%;
    background-image: linear-gradient(90deg, #FFA399, #FF4D97);
    border-radius: 10px;
}

.ball {
    width: 1.1rem;
    height: 1.1rem;
    background-color: var(--pale-blue);
    border-radius: 50%;
    position: relative;
    left: 95%;
    top: 0;
    /* Practice position absolute and relative */
}

.description {
    padding: 5px;
    margin-bottom: 10px;
}
.description p {
    color: var(--pale-blue);
}

.used-storage {
    font-weight: 700;
}

.text{
    color: var(--pale-blue);
}

.progress-text {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    padding: 5px;
}

/* Card 3 Styling */
.card-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 55%;
    top: 30%;
}

.position-card-3 {
    border-radius: 10px;
    background-color: var(--white);
    width: 100%;
    padding: 15px;
    position: relative;
    left: 100%;
}

.blowup-text {
    color: var(--grayish-blue);
    font-weight: 700;
}

.blowup-text span {
    color: #333333;
    font-size: 20px;
}

.triangle {
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid white;
    border-right: 10px solid white;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    z-index: 1;
    position: absolute;
    top: 85%;
    right: 0%;
}
/* Media Queries */
@media only screen and (max-width: 414px) {

    body {
        background-image: url(/img/bg-mobile.png);
        background-position: 50% 10%;
        background-size: cover;
    }

    .container {
        flex-direction: column;
        gap: 0.1rem;
    }
    .card-1 {
        width: 300px;
    }
    .card-2 {
        width: 300px;
    }
    
    .card-3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 55%;
        top: 70%;
    }
    
    .position-card-3 {
        border-radius: 10px;
        background-color: var(--white);
        width: 100%;
        padding: 15px;
        position: relative;
        left: -60%;
    }
    
    .triangle {
        display: none;
    }
    
    
}


@media only screen and (max-width: 768px) {
    .card-3 {
        left: 55%;
        top: 39%;
    }
    
    .position-card-3 {
        position: relative;
        left: 100%;
    }
    
    .triangle {
        display: block;
        border-top: 10px solid white;
        border-right: 10px solid white;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
        top: 85%;
        right: 0%;
        z-index: 2;
    }
}

